<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      QR App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<button ion-button block  color="dark" (click)="scan()">
  Realizar Scan
</button>
</ion-content>
